<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/potatopotato.css">
        <link rel="stylesheet" href="/css/normalize.css"L>
        <link rel="stylesheet" href="/css/foundation.css">
  </head>
  <body>
  	<div class="absolute-center">
  	  <div class="row" class="center-container">
  	    {{ content }}
  	  </div>
  	  <div class="row" class="potato-container">
  	    <a href="/root"><img src="/img/potato_cropped.jpg" id="potato"/></a>
  	  </div>
  	</div>
  </body>
</html>